    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ADASTACK</h2>
                <font size="4">
                We are excited to provide a Cardano stake pool service to the community!<br>
                The pool claims 3.9% and passes 96.1% of block rewards to delegators<br>
                Our mission is to decentralise and strengthen the Cardano Network<br>
                    We are building, more to come, please support us :)</font>
            </div>
        </div>
    </section>