    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ADASTACK</h2>
                <font size="4">
                    22nd June 2020<br>
                    The rewards for all ITN has stopped on the 19th of June 2020,<br>
                    however most of the pool operators including myself are continuing to run the nodes/pools.<br>
                    By pool operators continuing to run their pools that is effectively casting a vote<br>
                    that we as a community are interesting in keeping the ITN around to get further rewards or evolve the ITN.<br><br>
                    We will have more details as to what is to come of this soon from the community and IO Global (IOHK),<br>
                    stay delegated!<br><br>
                    The conclusion of the data from pooltool indicates that ADASTACK<br>
                    has been the best or one of the best performing large pools(50M+) as far as life time ROS (return on stake).<br>
                    ADASTACK has also been a top performer is regards to competitive battles.
                </font>
            </div>
        </div>
    </section>
