    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ADASTACK</h2>
                <font size="3">

                    We have run a successful top performing pool since December 2019,<br>
                    through the ITN and currently Mainnet.<br><br>
                    We care very much about Cardano, we are a member of<br>
                    Cardano Friends and Family,<br>
                    Cardano Social Council,<br>
                    Stake Pool Operator Collective Representation Assembly and<br>
                    Inter Stake Pool Peering Agreement along with<br>
                    being a patreon of PoolTool and ADApools.<br><br>
                    The pool passes 98% of block rewards to delegators and claims 2%<br>
                    with the minimum pool cost set.<br><br>
                </font>
                <img src="/img/pt-award7.jpg" width="225" height="270">
                <img src="/img/pt-award6.jpg" width="225" height="270">
                <img src="/img/pt-award5.jpg" width="225" height="270">
                <img src="/img/pt-award4.jpg" width="225" height="270">
                <img src="/img/pt-award3.jpg" width="225" height="270">
                <img src="/img/pt-award2.jpg" width="225" height="270">
                <img src="/img/pt-award1.jpg" width="225" height="270">
            </div>

        </div>
    </section>
