    <!-- Stake Section -->
    <section id="stake" class="content-section text-center">
        <div class="stake-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Stake with AD<font color="#a6a6a6">A</font>STACK</h2>
                    <p>Incentived testnet pool is <font color="#00ff00">live</font>!</p>
                    <p>Choose the ticker symbol<br>
                    <font size="5" class="awesome">STACK</font><br>
                    in Daedalus or Yoroi to start staking</p>

                    <p>Check out our block history verified by IOHK's explorer</p>
                    <a href="https://shelleyexplorer.cardano.org/en/stake-pool/4d6d353cb5273c62537702bdf9fe247c762af51a98dbe46538f27b5a5dd72146/" class="btn btn-default btn-lg><font size="1">4d6d353cb5273c62537702bdf9fe247c<br>762af51a98dbe46538f27b5a5dd72146</font></a></p>
                </div>
            </div>
        </div>
    </section>