    <!-- Download Section -->
    <section id="stake" class="content-section text-center">
        <div class="stake-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Stake with ADASTACK</h2>
                    <p>Incentived testnet pool is live!</p>
                    <p>Choose the ticker symbol<br>
                    “STACK”<br>
                    in Daedalus and Yoroi wallets to stake with us</p>
                    <p>Pool ID:<br>
                    <font size="1">4d6d353cb5273c62537702bdf9fe247c762af51a98dbe46538f27b5a5dd72146</font></p>
                    <!--
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                    -->
                </div>
            </div>
        </div>
    </section>