    <!-- Stake Section -->
    <section id="stake" class="content-section text-center">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   -->
        <!-- <script type="text/javascript" src="js/radialprogress.js"></script>
        <script type="text/javascript" src="js/poolrings.js"></script> -->
        <div class="stake-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Stake with ADASTACK</h2>
                    <font size="4">Choose the ticker symbol</font><br>
                    <font size="7" class="awesome">[ STACK ]</font><br>
                    <font size="4">in Daedalus or Yoroi to start staking!</font><br><br><br>
                    <font size="3" style="font-weight:bold;">ADASTACK (Pool 1 of 2) - </h4></font><font size="3" style="color:rgb(0, 255, 0)">Live</font>
                    <font size="2">
                    <div style=word-wrap:break-word;>94864d27407c1dd0569e4acb9c7fa6ec2cc19a6193d9171f2d811232</div>
                    <div style=word-wrap:break-word;>pool1jjry6f6q0swaq457ft9eclaxaskvrxnpj0v3w8edsyfryml3vj6</div><br>
                    </font>
                    <div style="text-align:center">
                        <div id="ring1" style="font-size:20px; display:inline-block;"></div>
                    </div>
                    <br><br>
                    <font size="3" style="font-weight:bold;">ADASTACK (Pool 2 of 2) - </font><font size="3" style="color:rgb(255, 145, 0)">Retiring on epoch 330</font><br>
                    <font size="3" style="color:rgb(255, 0, 0)">Please redelegate to ADASTACK (Pool 1 of 2)<br>
                    before epoch 329 (27th March 21:45 UTC)</font>
                    
                    <font size="2">
                    <div style=word-wrap:break-word;>7b0d46f6bf28634ab4d273b76e9768793b465ea8398563659ab8d2df</div>
                    <div style=word-wrap:break-word;>pool10vx5da4l9p354dxjwwmka9mg0ya5vh4g8xzkxev6hrfd745wlwg</div><br>
                    </font>
                    <div style="text-align:center">
                        <div id="ring2" style="font-size:20px; display:inline-block;"></div>
                    </div>
                    
                    </p>
                    
                    
                    <script>pool_rings();</script>

                    <!-- <iframe width="400" height="250" frameborder="0" src="https://js.adapools.org/widget-dark.html?whitelabel=1&pool=94864d27407c1dd0569e4acb9c7fa6ec2cc19a6193d9171f2d811232"><a href="https://adapools.org/pool/94864d27407c1dd0569e4acb9c7fa6ec2cc19a6193d9171f2d811232">Detail</a></iframe><br>
                    <iframe width="400" height="250" frameborder="0" src="https://js.adapools.org/widget-dark.html?whitelabel=1&pool=7b0d46f6bf28634ab4d273b76e9768793b465ea8398563659ab8d2df"><a href="https://adapools.org/pool/94864d27407c1dd0569e4acb9c7fa6ec2cc19a6193d9171f2d811232">Detail</a></iframe> -->
                </div>
                
            </div>
        </div>
    </section>
